<div class='actions'>

    <a href='<%= theme.github %>'><i class="my-button fa-brands fa-github"></i></a>
    <a href="<%= theme.blog %>"><i class="my-button fa-solid fa-keyboard"></i></a>
    <a href="<%= theme.about %>"><i class="my-button fa-solid fa-user-large"></i></a>

</div>