.site-header {
  margin: 32px 0;
  color: $base-a;
  font-weight: 700;

  & > p {
    color: $base-mute;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  & > p > a {
    text-decoration: none;
  }

  & > h1 {
    @include font-size(8);
    background-image: linear-gradient(90deg, $base-a3, $base-a, $base-a7);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    text-align: center;
  }

  & > .search {
    margin-top: 32px;
  }

  & > .action {
    margin-top: 32px;
  }

  & > .adbox {
    margin: 16px auto;
  }

  @media (max-width: 480px) {
    & > .adbox {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}
